/* Общие стили */

body {
  width: 375px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

a {
    color: inherit;
}

/* Навигация */

.nav {
    display: flex;
}

.nav--align-left {
    justify-self: flex-start;
}

.nav__list {
    display: flex;
    list-style-type: circle;
    font-size: 18px;
}

.nav__list--horizontal {
    gap: 26px;
}

.nav__item--no-marker {
	list-style: none;
}

.nav__link {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.nav__link--no-underline {
    border: none;
}

.nav__list--vertical {
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1024px) {
    .nav {
        justify-self: center;
    }

    .nav__list {
        flex-direction: row;
        font-size: 13px;
        gap: 20px;
    }
}

/* Контакты */

.contacts {
    line-height: 1.243;
    font-size: 18px;
}

.contacts--align-right {
    padding-inline-end: 30px;
    justify-self: flex-end;
}

.contacts__link {
    display: block;
    width: fit-content;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .header__contacts {
        display: none;
    }
}

/* Стили шапки страницы */

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    padding-inline: 25px;
    padding-block: 92px;
}

@media (max-width: 1024px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        padding-inline: 30px;
        padding-block: 30px 40px;
        gap: 34px;
    }
}

.header__logo-link {
    position: relative;
    width: 136px;
    justify-self: center;
}

.header__logo-img {
    display: block;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

@media (max-width: 1024px) {
    .main__content {
        gap: 60px;
    }
}


/* Стили для Jumbotron */

.jumbotron {
    position: relative;
    background: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron__overlay {
    position: absolute;
    z-index: 1;
    block-size: 100%;
    inline-size: 100%;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}

.jumbotron__cover {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 50px;
    padding-block: 165px 50px;
    gap: 134px;
}

@media (max-width: 1024px) {
    .jumbotron__cover {
        padding-inline: 25px;
        padding-block: 50px 25px;
        gap: 115px;
    }
}

.jumbotron__title {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 30px;
    font-size: 100px;
    font-weight: bold;
    gap: 21px;
}

@media (max-width: 1024px) {
    .jumbotron__title {
        letter-spacing: 14.4px;
        font-size: 48px;
        gap: 10px;
    }
}

.jumbotron__text--left {
    align-self: flex-start;
}

.jumbotron__text--center {
    align-self: center;
}

.jumbotron__text--right {
    align-self: flex-end;
}

.jumbotron__text--double-spacing {
    letter-spacing: 60px;
}

@media (max-width: 1024px) {
    .jumbotron__text--double-spacing {
        letter-spacing: 28.8px;
    }
}

.jumbotron__text--remove-spacing {
    letter-spacing: 0px;
}

.jumbotron__text--line-high {
    line-height: 1.15;
}

.jumbotron__subline {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .jumbotron__subline {
        align-items: center;
        gap: 35px;
    }
}

.jumbotron__subline-text {
    align-self: center;
    line-height: 1.28;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 18px;
    font-size: 22px;
}

@media (max-width: 1024px) {
    .jumbotron__subline-text {
        line-height: 2.33;
        word-spacing: 10px;
        font-size: 12px;
    }
}

.jumbotron__subline-button {
    border: 1px currentColor solid;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: inherit;
    font-size: 22px;
    padding-block: 11.5px;
    padding-inline: 31.5px;
}

@media (max-width: 1024px) {
    .jumbotron__subline-button {
        line-height: 1;
        font-size: 14px;
        padding-block: 6px;
        padding-inline: 18px;
    }
}

/* Стили для lots */

.lots {
    display: flex;
    flex-direction: column;
    padding-inline: 25px;
}

@media (max-width: 1024px) {
    .lots {
        padding-inline: 33.5px;
    }
}

.lots__title {
    padding-inline-start: 40px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding-block: 6px 27px;

}

@media (max-width: 1024px) {
    .lots__title {
        padding-inline-start: 25px;
    }
}

.lots__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

@media (max-width: 1024px) {
    .lots__grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }
}

.lots__card {
    position: relative;
}

.lots__card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-type-picture {
  background-image: url(../images/card-lot-03.jpg);   
}

.lots__card-overlay {
    position: absolute;
    z-index: 1;
    block-size: 100%;
    inline-size: 100%;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}

.lots__card-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-inline: 37px;
    padding-block: 50px;
    gap: 20px;
}

.lots__card-title {
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    font-size:22px;
    font-weight: bold;
}

.lots__card-link {
     text-underline-offset: 3px;
}

.lots__card-description {
    line-height: 1.2;
    color: #fff;
    font-size: 20px;
}

.lots__more-link-container {
    padding-block-start: 30px;
    padding-inline-start: 40px;
}

@media (max-width: 1024px) {
    .lots__more-link-container {
        padding-inline-start: 25px;
    }
}

.lots__more-link {
    width: fit-content;
    border-bottom: 1px solid #000;
    font-size: 20px;
    text-decoration: none;    
}

/* Стили для about */

.about {
    display: grid;
    padding-block-start: 5px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 6px 30px;
    padding-inline: 25px;
}

@media (max-width: 1024px) {
    .about {
        padding-block-start: 35px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 44px;
    }
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 240px;
    inline-size: 240px;
    border-radius: 50%;
    background-color: #000;
    justify-self: center;
}

.about__logo-img {
   width: 148px; 
}

.about__title {
    align-self: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .about__title {
        justify-self: center;
    }
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 1024px) {
    .about__content {
        grid-column: auto;
        grid-row: auto;
    }
}

.about__description {
    line-height: 1.2;
    font-size: 20px;
}

/* Стили для подвала */

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-inline: 50px;
    padding-block: 183px 92px;
}

@media (max-width: 1024px) {
    .footer {
        grid-template-columns: auto;
        padding-block: 78px 30px;
        gap: 60px;
        padding-inline: 42px;
    }
    
    .footer__nav {
        order: 1;
    }

    .footer__contacts {
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: column;
        order: 3;
    }
}

.footer__social-media {
    display: flex;
    justify-self: flex-end;
    gap: 48px;
}

@media (max-width: 1024px) {
    .footer__social-media {
        order: 2;
        justify-self: center;
    }
}

.footer__social-media-img {
    block-size: 48px;
}

/* Hover and Focus */

.link:hover {
    border-color: currentColor;
    color: #fff;
    background-color: #000;
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    border-color: #fff;
    outline: 1px solid #000;
    outline-offset: 1px;
}

.header__logo-link:focus {
    outline: none;
}

.header__logo-link:focus-visible::after {
    position: absolute;
    top: -7px;
    right: -5px;
    bottom: -2px;
    left: -2px;
    border: 1px solid #000;
    content: '';
    pointer-events: none;
}

.jumbotron__subline-button:hover {
    color:#000;
    background-color: #fff;
}

.jumbotron__subline-button:focus {
    outline: none;
}

.jumbotron__subline-button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
}