/* Общие стили */

body {
  width: 1024px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

a {
    color: inherit;
}

/* Навигация */

.nav--align-left {
    justify-self: flex-start;
}

.nav__list {
    display: flex;
    list-style-type: circle;
    font-size: 18px;
}

.nav__list--horizontal {
    gap: 28px;
}

.nav__item--no-marker {
	list-style: none;
}

.nav__link {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.nav__link--no-underline {
    border: none;
}

/* Контакты */

.contacts {
    line-height: 1.35;
    font-size: 18px;
}

.contacts--align-right {
    padding-inline-end: 35px;
    justify-self: flex-end;
}

.contacts__link {
    display: block;
    width: fit-content;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

/* Стили шапки страницы */

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    padding-inline: 25px;
    padding-block: 92px;
}

.header__logo-link {
    width: 136px;
    justify-self: center;
}

.header__logo-img {
    display: block;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 180px;
}